/* Custom scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Espessura da barra de rolagem */
    height: 8px; /* Espessura da barra de rolagem horizontal (opcional) */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Cor da parte deslizante da barra de rolagem */
    border-radius: 10px; /* Arredondamento dos cantos da parte deslizante */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da parte deslizante quando o usuário passa o mouse sobre ela */
}

/* Custom scrollbar for Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* Espessura da barra de rolagem */
    scrollbar-color: #888 #f1f1f1; /* Cor da parte deslizante e da trilha da barra de rolagem */
}
